body {
    margin: 0 auto;
    background-color: rgb(200, 200, 200);
}
h1, h2 {
    font-size: 2em;
}
.logo {
    width: 20%;
}
.mainSection {
    background-color: white;
    border-radius: 5%;
}
.reponse {
    background-color: grey;
    color: white;
}
.reponse:hover {
    background-color: grey;
    color: white
}
.reponseSelect, .reponseSelect:hover {
    color: white;
}
.reponseSelect {
    background-color: rgb(49, 108, 244);
}
.reponseSelect:hover {
    background-color: rgb(41, 93, 207);
}
@media (max-width: 500px) {
    .imgOnRight {
        display: none;
    }
}