body {
    margin: 0 auto;
    background-color: rgb(200, 200, 200);
    font-family: 'Permanent Marker', cursive;
}
.Ttop {
    font-size: 6rem;
}
.logo {
    width: 10rem;
}
.mainSection {
    background-color: white;
    border-radius: 5%;
}
.reponse {
    background-color: grey;
    color: white;
}
.reponse:hover {
    background-color: rgb(49, 108, 244);
    color: white
}
.reponseSelect, .reponseSelect:hover {
    color: white;
}
.reponseSelect {
    background-color: rgb(49, 108, 244);
}
.reponseSelect:hover {
    background-color: rgb(41, 93, 207);
}
.reponseGood {
    background-color: rgb(3, 180, 56);
}
.reponseBad {
    background-color: rgb(207, 41, 41);
}
.score, .questionNumber {
    color: rgb(49, 108, 244);
}

@media (max-width: 1200px) {
    .imgOnRight {
        display: none;
    }
}

@media (max-width: 992px) {
    .logo {
        width: 8rem;
    }
}