body {
    margin: 0 auto;
    background-color: rgb(200, 200, 200);
    font-family: 'Permanent Marker', cursive;
    background-image: url('/assets/planche.webp');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.top {
    border-radius: 5%;
    width: 90%;
    padding:1%;
    filter: drop-shadow(0px 0px 2px white);
}
.logo {
    width: 10rem;
}
.mainSection, .commencement {
    background-color: rgba(255, 255, 255, 0.495);
    border-radius: 5%;
    height: 75vh;
}
.commencement {
    font-size: 1.5rem;
}
.commencement ul {
    list-style-type: none;
}
.commencement p {
    margin: 2% 15% 2% 15%;
}
.commencement h2 {
    font-size: 2rem;
}
.reponse {
    background-color: grey;
    color: white;
    height: 20%;
}
.reponse:hover {
    background-color: rgb(49, 108, 244);
    color: white
}
.reponseSelect, .reponseSelect:hover {
    color: white;
}
.reponseSelect {
    background-color: rgb(49, 108, 244);
}
.reponseSelect:hover {
    background-color: rgb(41, 93, 207);
}
.reponseGood {
    background-color: rgb(3, 180, 56);
}
.reponseBad {
    background-color: rgb(207, 41, 41);
}
.score, .questionNumber, .time {
    color: rgb(49, 108, 244);
}
.imgOnRight {
    border-radius: 2%;
}
.hide {
    display: none!important;
}
@media (max-width: 1200px) {
    .imgOnRight {
        display: none;
    }
}

@media (max-width: 992px) {
    .logo {
        width: 8rem;
    }
}

@media (max-width: 500px) {
    .reponse, .valider {
        font-size: 1rem;
    }
    .question {
        font-size: 1.5rem;
    }
    .commencement {
        height: 100vh;
    }
}